# === ORACLE DATABASE CONFIGURATION ===
# Your username is always admin by default in Autonomous DB
OCI_DB_USER="admin"

# The password you defined in your Terraform variable
OCI_DB_PASSWORD="StrongPassword"

# COPY THE ENTIRE STRING from your Wallet's tnsnames.ora file.
# It must start with (DESCRIPTION=... and end with ))
# Preferably use the profile that ends in _low or _medium.

OCI_DB_CONNECTION_STRING="xxxxxxxxxxxxxxxxxxxxxxxx"

WALLET_PASSWORD="StrongPassword"

# ABSOLUTE PATH to the folder where you extracted the Wallet on your PC

TNS_ADMIN="C:/youruser/wallet/XXXXXXXXX"

# === APPLICATION CONFIGURATION ===
PORTFOLIO_URL="http://localhost:3000"
NODE_ENV="development"

# User ID you want to query (according to your constantsServer.ts)
# Default is 1
USER_ID=1